<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Landing Page</title>
</head>
<body>
    <h1>Welcome to the landing page!</h1>
    {% if name %}
        <h2>Hello, {{ name | upper }}!</h2>
        <h2>Your age is {{ age }}.</h2>
        <h2>today is {{ date | date:"d/m/Y" }} </h2>
    
        <h2>My stack:</h2>
        <ul>
        {% for item in stack %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Hello, guest!</h2>
    {% endif %}

</body>
</html>